@import url('https://fonts.googleapis.com/css?family=Assistant:300,400');
$putih: #fff;
$hitam: #000;
$hover: rgba(241, 104, 118, 1);
$buttonSize: 32px;
$buttonColor: #c00;
$buttonActionColor: #666;

html {
  scroll-behavior: smooth;
}

body {
  height: 925vh;
  font-family: 'Assistant', sans-serif;
}

.navbar {
  border-bottom: 1px solid #ccc;

  .btn {
    border-radius: 2px;
    padding: 4px 28px;
  }
}

.navbar-brand {
  img {
    width: 65px;
  }
}

.search {
  width: 400px;
  position: relative;

  .fa {
    position: absolute;
    left: 3%;
    color: #777;
    top: 25.2%;
  }
}

.search-box {
  float: left;
  width: 100%;
  border: 1px solid #dbdbdb;
  background: #f8f8f8;
  padding: 5px;
  height: 35px;
  border-radius: 1px;
  outline: none;
  color: #777;
  font-weight: 300;
  font-size: 0.9em;
  padding: 0 26px 0 35px;
  transition: all 0.7s;

  &:hover {
    border: 1px solid $hitam;
  }
}

.button-auth {
  float: left;
}

.cont {
  position: relative;
  // margin-top: -220px;
}

.dropdown-btn {
  // padding: 0 25px;
  // position: relative;
  // z-index: 10;
  // width: 280px;
  // height: 80px;
  // line-height: 78px;
  // font-size: 22px;
  // background-color: #fff;
  // border: none;
  // font-family: 'Roboto', sans-serif;
  // font-weight: 500;
  // text-align: left;
  // letter-spacing: .2px;
  // border-bottom: 2px solid #c6d2e2;
  // cursor: pointer;
  // -webkit-tap-highlight-color: transparent;
  &:focus + .svg > .svg__arrow--main {
    stroke: #8bf;
  }
}

.svg  {
  width: 32px;
  height: 125%;
  position: absolute;
  // right: 5px;
  top: 0;
  z-index: -1;
  pointer-events: none;
  &__arrow {
    stroke-width: 1px;
    transition: stroke-width .15s;
    &.thin-stroke {
      transition-duration: .5s;
      stroke-width: .6px;
    }
  }
}

.list {
  position: absolute;
  width: 250px;
  list-style-type: none;
  line-height: 50px;
  color: lighten(#000, 40%);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  &-item {
    padding: 0 28px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:nth-child(2n) {
      background-color: #f1f1f1;
    }
    &:nth-child(2n+1) {
      background-color: #fff;
    }
    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        z-index: 10 - $i;
      }
    }
    &:not(:last-child):before {
      content: '';
      position: absolute;
      width: 80%;
      height: 2px;
      bottom: 0;
      left: 10%;
      transition: transform .33s ease-out, opacity .2s;
      transform: translate3d(0,-20px,0);
      opacity: 0;
    }
    &.is-visible:not(:last-child):before {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
    &__link {
      color: inherit;
      text-decoration: none;
      opacity: 0;
      transition: opacity .35s ease-out;
      .list-item.is-visible & {
        opacity: 1;
        text-decoration: none;
        display: block;

        &:hover{
          color: $hover;
        }
      }
    }
  }
}

.btn-masuk {
  border: 1px solid $hitam;
  transition: 0.7s;

  &:hover {
    color: $hover;
    border: 1px solid $hover;
    padding: 4px 35px;
  }
}

.btn-daftar {
  background: $hitam;
  color: $putih;

  &:hover {
    color: $putih;
    background: $hover;
  }
}


.nav-menu {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  cursor: pointer;

  span {
    font-size: 30px;
    color: #fff;
  }
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 9998
}

.nav-container {
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 320px;
  height: 100%;
  right: -100%;
}

.close-button {
  float: right;
  padding: 20px;
  cursor: pointer;
  vertical-align: text-bottom;

  span {
    transform: translatey(1px);
  }
}

.navigation {
  padding: 0;
  list-style-type: none;

  a {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    color: #202121;
    font-weight: bold;
    font-size: 18px;
    transition: 200ms;
  }

  a:not(last-child) {
    border-bottom: 1px solid #e6eaea;
  }
}

.navigation a:hover,
.navigation a:focus {
  text-decoration: none;
  color: rgba(241, 104, 118, 1);
}

.dropdown-container {
  position: relative;

  .caret {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transition: 300ms;
    color: rgba(241, 104, 118, 1);
  }
}

.caret.open {
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.dropdown-nav {
  display: none;
  padding-left: 20px;

  li {
    list-style-type: none;
  }

  a {
    font-weight: 400;
  }
}

.parallax-slider {
  position: relative;
}

.slider-wrapper {
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.slide {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: inline-block;
  width: 100%;
  height: 450px;
  flex-shrink: 0;
  transition: 0.9s ease-in-out transform;
  backface-visibility: hidden;

  .text-darks {
    color: #000;
  }

  .btn {
    border-radius: 2px;
    padding: 4px 78px;
  }
}

.slide-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  ol {
    display: inline-block;
  }

  li {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
}

.slide-indicator li:hover {
  background: rgba(241, 104, 118, 1);
}

.slide-indicator li.active {
  background: rgba(54, 54, 54, 0.856);
}

.slide::before {
  content: '';
  display: inline-block;
  height: 50%;
}

.content {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
  color: #fff;
  transform: translate(-5px);
}

.caption {
  padding: 20px;
  transition: 0.4s;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translatey(200%);

  h1 {
    font-size: 60px;
    font-weight: 300;
  }
}

.slide-active .caption {
  transform: translatey(0);
  opacity: 1;
}

.home {
  height: 1000px;
  position: relative;
}

.slide1 {
  background: url("../images/monochrome-abstract-contour-line-illustration_53876-81792.jpg") top center;
}

.slide2 {
  background: url(../images/romantic-floral-badge_53876-77014.jpg) top center;
}

.slide3 {
  background: url("../images/monochrome-abstract-contour-line-illustration_53876-81792.jpg") top center;
}

.fame {


  img {
    width: 100px;
    // height: 80px;
  }

  h4 {
    font-size: 1em;
    color: #888888;

  }

  h3 {
    font-size: 1.4em;
    margin-bottom: 0px;

    a {
      color: $hitam;
      display: inline-block;
      text-decoration: none;

      &:hover::after {
        width: 100%;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .3s;
      }
    }
  }

  p {

    a {
      color: $hitam;
      text-decoration: none;
      transition: all ease in 0.2s;

      &:hover {
        color: $hover;
      }
    }
  }
}

.label {

  margin-top: 4rem;


  .separator {
    border: 1px solid #eee;
    margin-top: 25px;
  }

  p {
    float: right;
    font-size: 1em - 0.2;

    a {
      color: $hitam;
      text-decoration: none;
      transition: all 0.2s;
      font-weight: 600;

      &:hover {
        color: $hover;
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
    display: inline;
  }

  .image-grid-cover-big {
    width: 100%;
    background-size: cover;
    min-height: 180px + 95;
    position: relative;
    margin-bottom: 30px;
    text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
    border-radius: 4px;
  }

  .image-grid-cover {
    width: 100%;
    background-size: cover;
    min-height: 130px;
    position: relative;
    margin-bottom: 15px;
    text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
    border-radius: 4px;
    background-position-y: 2%;


  }

  .image-grid-clickbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, .45);
    transition: all 0.2s;

    &:hover {
      background: rgba(241, 104, 118, .70);
    }
  }

  .cover-wrapper {
    font-size: 18px + 3.2;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
    z-index: 21;
    position: relative;
    top: 50px;
    transition: all 0.2s;
    font-weight: bold;

    &:hover {
      transform: scale(1.2);
      // background:rgba(241, 104, 118, .70);
    }
  }

  .cover-wrapper-big {
    font-size: 18px + 4.2;
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
    z-index: 21;
    position: relative;
    top: 115px;
    transition: all 0.2s;
    font-weight: bold;

    &:hover {
      transform: scale(1.4);
      // background:rgba(241, 104, 118, .70);
    }
  }

  a,
  a:focus,
  a:hover {
    text-decoration: none;
    outline: 0;
  }

  .col-md-4 {
    padding: 0 7.5px;
  }
}

.content-box {


  h2 {
    display: inline;
  }

  .separator {
    border: 1px solid #eee;
    margin-top: 25px;
  }

  p {
    float: right;
    font-size: 1em - 0.2;

    a {
      color: $hitam;
      text-decoration: none;
      transition: all 0.2s;
      font-weight: 600;

      &:hover {
        color: $hover;
      }
    }
  }
}


.slider-content {
  .owl-buttons {
    display: none;
  }

  .owl-carousel:hover .owl-buttons {
    display: block;
  }

  .owl-item {
    text-align: center;
    // width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
  }

  .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    color: #869791;
    font-size: 40px;
    line-height: 300px;
    margin: 0;
    padding: 0 60px;
    position: absolute;
    top: 0;
  }

  .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
    padding-left: 20px;
  }

  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
    padding-right: 20px;
  }

  img {
    object-fit: contain;
    height: 100%;
    width: 93%;
  }

  .fa-stack {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 2.5em;
    line-height: 1em;
    vertical-align: middle;
  }
}

.owl-wrapper-outer {
  height: 400px;
}





.button-love {
  // border: 1px solid #ccc;
  border-radius: 9999px;
  // box-shadow: -1px -1px 5px rgba(0,0,0,.05);
  background: rgba(255,255, 255, .8);
  // display: none;
  z-index: 10;
  position: absolute;
  top: 73%;
  left: 85%;
  margin-left: -($buttonSize / 2);
  width: $buttonSize;
  height: $buttonSize;
  // line-height: $buttonSize * 1.2; //53px;
  line-height: $buttonSize * 0.9;
  text-align: center;
  cursor: pointer;
  // transition: transform .5s ease-in-out;
  
  &.loved {
    // transform: rotate(360deg);
  }
  
  i {
    vertical-align: middle;
  }
}

.button-love-heart {  
  color: $buttonColor;
  font-size: $buttonSize * 0.56;
  opacity: .5;
  transition: opacity .2s ease-in-out;
  //text-shadow: -1px -1px ($buttonSize / 10) #222;
  
    .button-love:hover & {
      opacity: .6;
    }
    .button-love.loved & {
      opacity: .8;
      font-size: $buttonSize * 0.6;
      // text-shadow: none;
    }
    .button-love.loved:hover & {
      opacity: 1;
    }
}

.button-love-plus {
  position: absolute;
  top: 50%;
  right: $buttonSize / 5; //8px;
  margin-top: $buttonSize / 9;
  color: $buttonActionColor;
  font-size: $buttonSize / 4;
  text-shadow: -1px -1px 0 #fff, 1px 1px 0 #fff;
  opacity: 1;
  transition: all .4s ease-in-out;
  
  .button-love.loved & {
    margin-top: $buttonSize / 5;
    opacity: 0;
  }
}

.loving {
  animation: loving .4s 1 alternate;
}

@keyframes loving {
  0% {
    font-size: $buttonSize * 0.6;
  }
  50% {
    font-size: $buttonSize * 0.35;    
  }
  75% {
    font-size: $buttonSize * 0.75;    
  }
  100% {
    font-size: $buttonSize * 0.65;
  }
}

.owl-item {
  height: 350px !important;
}

.desc-slider{
  text-align: left;
  margin-left: 7px;

  p {
    font-size: 18.75px;
    color: #444;
    display: inline-block;

   
  }

  span {
    display: block;
    margin-top: -10px;
    font-size: 16.5px;
    font-style: italic;
    color: #666;
    
  }

  a{
    font-size: 14px;
    font-weight: bold;
    // font-weight: lighter;
    color: #555;
    text-decoration: none;
    // letter-spacing: 1px;
    transition: all 0.5s;

    &:hover {
      color: $hover;
    }
  }
}

.lelang-content{
  text-align: left;
  margin-left: 10px;

  p {
    font-size: 18.75px !important;
    color: #555;
    display: inline-block;

    a {
      margin-top: 0px;
      font-size: 18.75px !important;
    }
  }

  span {
    
    font-size: 17.5px;
    
  }

  .bid {
    font-style: normal;
    color: #888;
    font-size: 13.7px;
  }

  a{
    font-size: 16px;
    // font-weight: lighter;
    color: #555;
    text-decoration: none;
    // letter-spacing: 1px;
    transition: all 0.5s;
    display: block;
    margin-top: -10px;

    &:hover {
      color: $hover;
    }
  }
}

.lelang-button-love {
  position: absolute;
}

.slider-content .owl-theme .owl-controls .owl-buttons div {
  line-height: 80px !important;
  margin-top: 100px;
}

.love-button-cover{
  position: absolute;
}


.float-panel {
  width:100%;background:white;z-index:300;transform: translateZ(0);
  transition:all 0.5s; /* Effect for switching from .fixed to static */
}
.float-panel .content-area {margin:10px auto;}
// .float-panel .fa-gg {color:#F0595C;font-size:30px;vertical-align:middle;transition:all 1s;}
/* when class="float-panel fixed" */
.fixed {box-shadow:0 2px 6px rgba(0,0,0,0.2);animation:slide-down 0.7s;}
.fixed .fa-gg {transform: rotate(360deg); }
@keyframes slide-down {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  } 
  100% {
      opacity: 0.9;
      transform: translateY(0);
  } 
}


.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

#backtop {
  position: fixed;
    left:auto;right: 20px;top:auto;bottom: 20px;
  outline: none;
    overflow:hidden;
    color:#fff;
    text-align:center;
    background-color:rgba(0,0,0, .9);
    border-radius: 50px;
    height:40px;
    width:40px;
    line-height:35px;
    font-size:14px;
    cursor:pointer;
    transition:all 0.3s linear;
    z-index:999999;

    opacity:1;
    display:none;
}
#backtop:hover {
    background-color:$hover;
}
#backtop.mcOut {
    opacity:0;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  color: $hitam;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: $hover;
}

.contans {
  position: relative;
right: 120%;
}

.modal-header, .modal-footer {
  border: 0;
}

.modal {

  a{
    color: $hitam;
    text-decoration: none;
    // font-size: 14px;

    &:hover {
      color: $hover;
    }
  }

  .form-control{
    border-radius: 1px;
    transition: all 0.4s;

    &:hover{
      border: 1px solid $hitam;
    }

    &:focus{
      border-color: blue;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px $hover;
    }
    }
  
}

.btn-login{
  background: $hitam;
  color: $putih;
  width: 100%;
  margin-top: 20px;
  border-radius: 1px;
  border: 2px solid $hitam;

  &:hover{
    background: $putih;
    color: $hitam;
  }
}

.seniman-box {

 @-webkit-keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@-webkit-keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@-webkit-keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}@keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}.loader-circle{top:50%;left:50%;z-index:1;color:#444;margin-top:-1em;margin-left:-1em;position:absolute;-webkit-animation:L_circle_rotate 1.568s linear infinite both;animation:L_circle_rotate 1.568s linear infinite both}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right:before,.loader-circle:before{content:'';display:block;border-style:solid;border-width:.21429em;border-color:currentColor}.loader-circle,.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right,.loader-circle .loader-stroke-right:before,.loader-circle:before{width:2em;height:2em;border-radius:50%;box-sizing:border-box}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right{position:absolute;clip:rect(0 2em 2em 1em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right:before{position:absolute;clip:rect(0 1em 2em 0)}.loader-circle:before{position:absolute;clip:rect(0 1.05em 1em .95em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right,.loader-circle:before{-webkit-animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-right:before{-webkit-animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-left:before{-webkit-animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}
.mhn-slide .mhn-item{width:100%;padding:10px}
.mhn-slide .mhn-inner{background:$putih;width:100%;height:100%;box-shadow:0 2px 10px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.26);border-radius:3px}
.mhn-slide .mhn-item img{display:none}
.mhn-slide .mhn-img{min-height:200px;overflow:hidden;height:100%;width:100%;color:white;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) #eee no-repeat center/cover;position:relative}
.mhn-slide .mhn-text{text-align:center;padding:0 10px}
.mhn-slide .mhn-text h4{font-weight:700;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.mhn-slide .mhn-text p{max-height:4.5em;overflow:hidden}
.mhn-slide .owl-stage-outer{z-index:1}
.mhn-slide .owl-nav{color:#333;position:absolute;top:0;left:0;right:0;bottom:0}
.mhn-slide .owl-nav svg{color:currentColor}
.mhn-slide .owl-nav .disabled{display:none}
.mhn-slide .owl-prev,
.mhn-slide .owl-next{
	top:150px;
	z-index:2;
	width:40px;
	height:40px;
	padding:8px;
	margin-top:-20px;
	position:absolute;
	border-radius:50%;
	background-color:#fff;
	box-shadow:0 4px 4px rgba(0,0,0,.3),0 0 4px rgba(0,0,0,.2)
}
.mhn-slide .owl-prev{left:-10px}
.mhn-slide .owl-next{right:-10px}

.btn-follow {
  background: $hitam;
  border-radius: 0;
  color: $putih;
  width: 100%;
  height: 32px;
  line-height: 17px;
  margin-bottom: 20px;
  margin-top: 5px;

  &:hover {
    background: $hover;
  }
}
}

.event {

  img{
    width: 100%;
  }

  .desc-event {
    padding: 5px;
    h5 {
     
      font-size: 1em + 0.9;
    }

    p {
      font-weight: bold;
      font-size: 1em - 0.1;
      line-height: 1px;
    }

    span {
      float:right;
      color: #444;
      font-size: 1em + 0.1;
      // font-weight: bolder;
    }

    .btn-event{
      background: $hitam;
      color: $putih;
      border-radius: 1;
      width: 150px;

      &:hover {
        background: $hover;
      }
    }
  }
}

.desc-event-mini {
  padding: 5px;
  h5 {
   
    font-size: 1em + 0.3;
  }

  p {
    font-weight: bold;
    font-size: 1em - 0.2;
    line-height: 1px;
  }

  span {
    float:right;
    color: #444;
    font-size: 1em - 0.1;
    // font-weight: bolder;
  }

  .btn-event{
    background: $hitam;
    color: $putih;
    border-radius: 1;
    width: 100px;

    &:hover {
      background: $hover;
    }
  }
}

footer {
  margin-top: 100px;

  hr {
   border: 1px solid #eee;
  }

  h6 {
    font-weight: bold;
  }

  ul{
    list-style-type: none;
    margin-left: -35px;

   li {
    a{
      color: $hitam;
      text-decoration: none;

      &:hover{
        color: $hover;
      }
    }
   }
  }

  .credit {

    a{
      color: $hitam;

      &:hover {
        color: $hover;
      }
    }

    i {
      margin-left: 9px;
      font-size: 1em + 0.2;
    }

    img{
      width: 70px;
      display: inline;
    }

    p {
      display: inline;
      margin-left: 3px;
    }
  }
}
