@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
body {
  height: 500vh;
  font-family: 'Oswald', sans-serif;
}

.navbar {
  border-bottom: 1px solid #ccc;
}

.navbar .btn {
  border-radius: 2px;
  padding: 4px 28px;
}

.navbar-brand img {
  width: 65px;
}

.search {
  width: 400px;
  position: relative;
}

.search-box {
  float: left;
  width: 100%;
  border: 1px solid #dbdbdb;
  background: #f8f8f8;
  padding: 5px;
  height: 35px;
  border-radius: 1px;
  outline: none;
  color: #777;
  font-weight: 300;
  font-size: 0.9em;
  padding: 0 26px 0 35px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.search-box:hover {
  border: 1px solid #000;
}

.button-auth {
  float: left;
}

.btn-masuk {
  border: 1px solid #000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn-masuk:hover {
  color: #f16876;
  border: 1px solid #f16876;
  padding: 4px 35px;
}

.btn-daftar {
  background: #000;
  color: #fff;
}

.btn-daftar:hover {
  color: #fff;
  background: #f16876;
}

.nav-menu {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  cursor: pointer;
}

.nav-menu span {
  font-size: 30px;
  color: #fff;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 9998;
}

.nav-container {
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 320px;
  height: 100%;
  right: -100%;
}

.close-button {
  float: right;
  padding: 20px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.close-button span {
  -webkit-transform: translatey(1px);
          transform: translatey(1px);
}

.navigation {
  padding: 0;
  list-style-type: none;
}

.navigation a {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  color: #202121;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navigation a:not(last-child) {
  border-bottom: 1px solid #e6eaea;
}

.navigation a:hover,
.navigation a:focus {
  text-decoration: none;
  color: #f16876;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .caret {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 4px solid\9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #f16876;
}

.caret.open {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.dropdown-nav {
  display: none;
  padding-left: 20px;
}

.dropdown-nav li {
  list-style-type: none;
}

.dropdown-nav a {
  font-weight: 400;
}

.parallax-slider {
  position: relative;
}

.slider-wrapper {
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: inline-block;
  width: 100%;
  height: 450px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.9s ease-in-out transform;
  transition: 0.9s ease-in-out transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slide .text-darks {
  color: #000;
}

.slide .btn {
  border-radius: 2px;
  padding: 4px 78px;
}

.slide-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.slide-indicator ol {
  display: inline-block;
}

.slide-indicator li {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.slide-indicator li:hover {
  background: #f16876;
}

.slide-indicator li.active {
  background: rgba(54, 54, 54, 0.856);
}

.slide::before {
  content: '';
  display: inline-block;
  height: 50%;
}

.content {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
  color: #fff;
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
}

.caption {
  padding: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translatey(200%);
          transform: translatey(200%);
}

.caption h1 {
  font-size: 60px;
  font-weight: 300;
}

.slide-active .caption {
  -webkit-transform: translatey(0);
          transform: translatey(0);
  opacity: 1;
}

.home {
  height: 1000px;
  position: relative;
}

.slide1 {
  background: url("../images/monochrome-abstract-contour-line-illustration_53876-81792.jpg") top center;
}

.slide2 {
  background: url(../images/romantic-floral-badge_53876-77014.jpg) top center;
}

.slide3 {
  background: url("../images/monochrome-abstract-contour-line-illustration_53876-81792.jpg") top center;
}

.fame img {
  width: 100px;
}

.fame h4 {
  font-size: 1em;
  color: #888888;
}

.fame h3 {
  font-size: 1.4em;
  margin-bottom: 0px;
}

.fame h3 a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.fame h3 a:hover::after {
  width: 100%;
}

.fame h3 a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.fame p a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all ease in 0.2s;
  transition: all ease in 0.2s;
}

.fame p a:hover {
  color: #f16876;
}

.label {
  margin-top: 4rem;
}

.label h2 {
  margin-bottom: 2rem;
}

.label .image-grid-cover-big {
  width: 100%;
  background-size: cover;
  min-height: 275px;
  position: relative;
  margin-bottom: 30px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  border-radius: 4px;
}

.label .image-grid-cover {
  width: 100%;
  background-size: cover;
  min-height: 130px;
  position: relative;
  margin-bottom: 15px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  border-radius: 4px;
  background-position-y: 2%;
}

.label .image-grid-clickbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.label .image-grid-clickbox:hover {
  background: rgba(241, 104, 118, 0.7);
}

.label .cover-wrapper {
  font-size: 23.5px;
  text-align: center;
  display: block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  z-index: 21;
  position: relative;
  top: 50px;
}

.label .cover-wrapper-big {
  font-size: 23.5px;
  text-align: center;
  display: block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  z-index: 21;
  position: relative;
  top: 115px;
}

.label a, .label a:focus, .label a:hover {
  text-decoration: none;
  outline: 0;
}

.label .col-md-4 {
  padding: 0 7.5px;
}

.content-box h2 {
  display: inline;
}

.content-box .separator {
  border: 1px solid #eee;
  margin-top: 25px;
}

.content-box p {
  float: right;
  font-size: 0.8em;
}

.content-box p a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content-box p a:hover {
  color: #f16876;
}

.slider-content .owl-buttons {
  display: none;
}

.slider-content .owl-carousel:hover .owl-buttons {
  display: block;
}

.slider-content .owl-item {
  text-align: center;
  height: 160px;
}

.slider-content .owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}

.slider-content .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}

.slider-content .owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}

.slider-content img {
  max-width: 270px;
}

.slider-content .fa-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 4.5em;
  line-height: 1em;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */