@import url("https://fonts.googleapis.com/css?family=Assistant:300,400");
html {
  scroll-behavior: smooth;
}

body {
  height: 625vh;
  font-family: 'Assistant', sans-serif;
}

.navbar {
  border-bottom: 1px solid #ccc;
}

.navbar .btn {
  border-radius: 2px;
  padding: 4px 28px;
}

.navbar-brand img {
  width: 65px;
}

.search {
  width: 400px;
  position: relative;
}

.search .fa {
  position: absolute;
  left: 3%;
  color: #777;
  top: 25.2%;
}

.search-box {
  float: left;
  width: 100%;
  border: 1px solid #dbdbdb;
  background: #f8f8f8;
  padding: 5px;
  height: 35px;
  border-radius: 1px;
  outline: none;
  color: #777;
  font-weight: 300;
  font-size: 0.9em;
  padding: 0 26px 0 35px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.search-box:hover {
  border: 1px solid #000;
}

.button-auth {
  float: left;
}

.cont {
  position: relative;
}

.dropdown-btn:focus + .svg > .svg__arrow--main {
  stroke: #8bf;
}

.svg {
  width: 32px;
  height: 125%;
  position: absolute;
  top: 0;
  z-index: -1;
  pointer-events: none;
}

.svg__arrow {
  stroke-width: 1px;
  -webkit-transition: stroke-width .15s;
  transition: stroke-width .15s;
}

.svg__arrow.thin-stroke {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  stroke-width: .6px;
}

.list {
  position: absolute;
  width: 250px;
  list-style-type: none;
  line-height: 50px;
  color: #666666;
  text-align: left;
  opacity: 0;
  visibility: hidden;
}

.list-item {
  padding: 0 28px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item:nth-child(2n) {
  background-color: #f1f1f1;
}

.list-item:nth-child(2n+1) {
  background-color: #fff;
}

.list-item:nth-child(1) {
  z-index: 9;
}

.list-item:nth-child(2) {
  z-index: 8;
}

.list-item:nth-child(3) {
  z-index: 7;
}

.list-item:not(:last-child):before {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 10%;
  -webkit-transition: opacity .2s, -webkit-transform .33s ease-out;
  transition: opacity .2s, -webkit-transform .33s ease-out;
  transition: transform .33s ease-out, opacity .2s;
  transition: transform .33s ease-out, opacity .2s, -webkit-transform .33s ease-out;
  -webkit-transform: translate3d(0, -20px, 0);
          transform: translate3d(0, -20px, 0);
  opacity: 0;
}

.list-item.is-visible:not(:last-child):before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.list-item__link {
  color: inherit;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: opacity .35s ease-out;
  transition: opacity .35s ease-out;
}

.list-item.is-visible .list-item__link {
  opacity: 1;
  text-decoration: none;
  display: block;
}

.list-item.is-visible .list-item__link:hover {
  color: #f16876;
}

.btn-masuk {
  border: 1px solid #000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn-masuk:hover {
  color: #f16876;
  border: 1px solid #f16876;
  padding: 4px 35px;
}

.btn-daftar {
  background: #000;
  color: #fff;
}

.btn-daftar:hover {
  color: #fff;
  background: #f16876;
}

.nav-menu {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  cursor: pointer;
}

.nav-menu span {
  font-size: 30px;
  color: #fff;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 9998;
}

.nav-container {
  position: fixed;
  z-index: 999;
  background: #fff;
  width: 320px;
  height: 100%;
  right: -100%;
}

.close-button {
  float: right;
  padding: 20px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.close-button span {
  -webkit-transform: translatey(1px);
          transform: translatey(1px);
}

.navigation {
  padding: 0;
  list-style-type: none;
}

.navigation a {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  color: #202121;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.navigation a:not(last-child) {
  border-bottom: 1px solid #e6eaea;
}

.navigation a:hover,
.navigation a:focus {
  text-decoration: none;
  color: #f16876;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .caret {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 4px solid\9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #f16876;
}

.caret.open {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.dropdown-nav {
  display: none;
  padding-left: 20px;
}

.dropdown-nav li {
  list-style-type: none;
}

.dropdown-nav a {
  font-weight: 400;
}

.parallax-slider {
  position: relative;
}

.slider-wrapper {
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: inline-block;
  width: 100%;
  height: 450px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.9s ease-in-out transform;
  transition: 0.9s ease-in-out transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slide .text-darks {
  color: #000;
}

.slide .btn {
  border-radius: 2px;
  padding: 4px 78px;
}

.slide-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.slide-indicator ol {
  display: inline-block;
}

.slide-indicator li {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.slide-indicator li:hover {
  background: #f16876;
}

.slide-indicator li.active {
  background: rgba(54, 54, 54, 0.856);
}

.slide::before {
  content: '';
  display: inline-block;
  height: 50%;
}

.content {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
  color: #fff;
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
}

.caption {
  padding: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translatey(200%);
          transform: translatey(200%);
}

.caption h1 {
  font-size: 60px;
  font-weight: 300;
}

.slide-active .caption {
  -webkit-transform: translatey(0);
          transform: translatey(0);
  opacity: 1;
}

.home {
  height: 1000px;
  position: relative;
}

.slide1 {
  background: url("../images/monochrome-abstract-contour-line-illustration_53876-81792.jpg") top center;
}

.slide2 {
  background: url(../images/romantic-floral-badge_53876-77014.jpg) top center;
}

.slide3 {
  background: url("../images/monochrome-abstract-contour-line-illustration_53876-81792.jpg") top center;
}

.fame img {
  width: 100px;
}

.fame h4 {
  font-size: 1em;
  color: #888888;
}

.fame h3 {
  font-size: 1.4em;
  margin-bottom: 0px;
}

.fame h3 a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.fame h3 a:hover::after {
  width: 100%;
}

.fame h3 a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.fame p a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all ease in 0.2s;
  transition: all ease in 0.2s;
}

.fame p a:hover {
  color: #f16876;
}

.label {
  margin-top: 4rem;
}

.label .separator {
  border: 1px solid #eee;
  margin-top: 25px;
}

.label p {
  float: right;
  font-size: 0.8em;
}

.label p a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
}

.label p a:hover {
  color: #f16876;
}

.label h2 {
  margin-bottom: 2rem;
  display: inline;
}

.label .image-grid-cover-big {
  width: 100%;
  background-size: cover;
  min-height: 275px;
  position: relative;
  margin-bottom: 30px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  border-radius: 4px;
}

.label .image-grid-cover {
  width: 100%;
  background-size: cover;
  min-height: 130px;
  position: relative;
  margin-bottom: 15px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  border-radius: 4px;
  background-position-y: 2%;
}

.label .image-grid-clickbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.label .image-grid-clickbox:hover {
  background: rgba(241, 104, 118, 0.7);
}

.label .cover-wrapper {
  font-size: 21.2px;
  text-align: center;
  display: block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  z-index: 21;
  position: relative;
  top: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: bold;
}

.label .cover-wrapper:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.label .cover-wrapper-big {
  font-size: 22.2px;
  text-align: center;
  display: block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  z-index: 21;
  position: relative;
  top: 115px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: bold;
}

.label .cover-wrapper-big:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.label a,
.label a:focus,
.label a:hover {
  text-decoration: none;
  outline: 0;
}

.label .col-md-4 {
  padding: 0 7.5px;
}

.content-box h2 {
  display: inline;
}

.content-box .separator {
  border: 1px solid #eee;
  margin-top: 25px;
}

.content-box p {
  float: right;
  font-size: 0.8em;
}

.content-box p a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 600;
}

.content-box p a:hover {
  color: #f16876;
}

.carousel-wrap {
  position: relative;
  margin: -30px 0;
  /* fix blank or flashing items on carousel */
}

.carousel-wrap .owl-carousel .item {
  position: relative;
  z-index: 100;
  margin: 0 5px;
  -webkit-backface-visibility: hidden;
}

.carousel-wrap .owl-nav i {
  font-size: 27px;
}

.carousel-wrap .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 35%;
  margin-left: -45px;
  display: block !important;
  outline: 0;
}

.carousel-wrap .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: -35px;
  display: block !important;
  outline: 0;
}

.carousel-wrap .owl-carousel .owl-stage-outer {
  height: 400px;
}

.owl-centered .owl-wrapper {
  display: table !important;
}

.owl-centered .owl-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
  height: 150px;
}

.owl-centered .owl-item > div {
  text-align: center;
}

.owl-item {
  height: 350px !important;
}

.desc-outer {
  position: relative;
}

.desc-outer .desc-slider {
  text-align: left;
  margin-left: 7px;
  position: absolute;
  top: 123%;
}

.desc-outer .desc-slider p {
  font-size: 16.75px;
  color: #000;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.desc-outer .desc-slider span {
  display: block;
  margin-top: -16px;
  font-size: 15.5px;
  color: #666;
}

.desc-outer .desc-slider a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 0.9em;
}

.desc-outer .desc-slider a:hover {
  color: #f16876;
}

.love-button {
  position: absolute;
  left: 80%;
}

.love-button i {
  cursor: pointer;
  padding: 10px 12px 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 15px;
  color: #aaa;
  -webkit-transition: .2s;
  transition: .2s;
}

.love-button i:hover {
  color: #666;
}

.love-button i:before {
  font-family: fontawesome;
  content: '\f004';
  font-style: normal;
}

.love-button span {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  visibility: hidden;
  -webkit-transition: .6s;
  transition: .6s;
  z-index: -2;
  font-size: 2px;
  color: transparent;
  font-weight: 400;
}

.love-button i.press {
  -webkit-animation: size .4s;
          animation: size .4s;
  color: #e23b3b;
}

.love-button span.press {
  bottom: 120px;
  font-size: 14px;
  visibility: visible;
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

@-webkit-keyframes fade {
  0% {
    color: #transparent;
  }
  50% {
    color: #e23b3b;
  }
  100% {
    color: #transparent;
  }
}

@keyframes fade {
  0% {
    color: #transparent;
  }
  50% {
    color: #e23b3b;
  }
  100% {
    color: #transparent;
  }
}

@-webkit-keyframes size {
  0% {
    padding: 10px 12px 8px;
  }
  50% {
    padding: 14px 16px 12px;
    margin-top: -4px;
  }
  100% {
    padding: 10px 12px 8px;
  }
}

@keyframes size {
  0% {
    padding: 10px 12px 8px;
  }
  50% {
    padding: 14px 16px 12px;
    margin-top: -4px;
  }
  100% {
    padding: 10px 12px 8px;
  }
}

.lelang-content {
  text-align: left;
  margin-left: 10px;
}

.lelang-content p {
  font-size: 18.75px !important;
  color: #555;
  display: inline-block;
}

.lelang-content p a {
  margin-top: 0px;
  font-size: 18.75px !important;
}

.lelang-content span {
  font-size: 17.5px;
}

.lelang-content .bid {
  font-style: normal;
  color: #888;
  font-size: 13.7px;
}

.lelang-content a {
  font-size: 16px;
  color: #555;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  margin-top: -10px;
}

.lelang-content a:hover {
  color: #f16876;
}

.lelang-button-love {
  position: absolute;
}

.slider-content .owl-theme .owl-controls .owl-buttons div {
  line-height: 80px !important;
  margin-top: 100px;
}

.love-button-cover {
  position: absolute;
}

.float-panel {
  width: 100%;
  background: white;
  z-index: 300;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* Effect for switching from .fixed to static */
}

.float-panel .content-area {
  margin: 10px auto;
}

/* when class="float-panel fixed" */
.fixed {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-animation: slide-down 0.7s;
          animation: slide-down 0.7s;
}

.fixed .fa-gg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideanim {
  visibility: hidden;
  visibility: visible\9;
  /*For old IE browsers IE6-8 */
}

.slideanim.slide {
  visibility: visible;
  -webkit-animation: slide 1s;
          animation: slide 1s;
}

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#backtop {
  position: fixed;
  left: auto;
  right: 20px;
  top: auto;
  bottom: 20px;
  outline: none;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50px;
  height: 40px;
  width: 40px;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 999999;
  opacity: 1;
  display: none;
}

#backtop:hover {
  background-color: #f16876;
}

#backtop.mcOut {
  opacity: 0;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  color: #444;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f16876;
}

.contans {
  position: relative;
  right: 120%;
}

.modal-header, .modal-footer {
  border: 0;
}

.modal a {
  color: #000;
  text-decoration: none;
}

.modal a:hover {
  color: #f16876;
}

.modal .form-control {
  border-radius: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal .form-control:hover {
  border: 1px solid #000;
}

.modal .form-control:focus {
  border-color: blue;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px #f16876;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px #f16876;
}

.btn-login {
  background: #000;
  color: #fff;
  width: 100%;
  margin-top: 20px;
  border-radius: 1px;
  border: 2px solid #000;
}

.btn-login:hover {
  background: #fff;
  color: #000;
}

.event img {
  width: 100%;
}

.event .desc-event {
  padding: 5px;
}

.event .desc-event h5 {
  font-size: 1.9em;
}

.event .desc-event p {
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1px;
}

.event .desc-event span {
  float: left;
  color: #444;
  font-size: 1.1em;
}

.event .desc-event .btn-event {
  background: #000;
  color: #fff;
  border-radius: 1;
  width: 150px;
}

.event .desc-event .btn-event:hover {
  background: #f16876;
}

.desc-event-mini {
  padding: 5px;
}

.desc-event-mini h5 {
  font-size: 1.4em;
}

.desc-event-mini p {
  font-size: 1em;
  margin-bottom: 0px;
}

.desc-event-mini p a {
  color: #000;
  line-height: 8px;
  display: inline;
  text-decoration: none;
}

.desc-event-mini p a:hover::after {
  width: 20%;
}

.desc-event-mini p a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.desc-event-mini span {
  color: #444;
  font-size: 1em;
  font-weight: bolder;
}

.desc-event-mini .btn-event {
  background: #000;
  color: #fff;
  border-radius: 1;
  width: 100px;
}

.desc-event-mini .btn-event:hover {
  background: #f16876;
}

footer {
  margin-top: 100px;
}

footer hr {
  border: 1px solid #eee;
}

footer h6 {
  font-weight: bold;
}

footer ul {
  list-style-type: none;
  margin-left: -35px;
}

footer ul li a {
  color: #000;
  text-decoration: none;
}

footer ul li a:hover {
  color: #f16876;
}

footer .credit a {
  color: #000;
}

footer .credit a:hover {
  color: #f16876;
}

footer .credit i {
  margin-left: 9px;
  font-size: 1.2em;
}

footer .credit img {
  width: 70px;
  display: inline;
}

footer .credit p {
  display: inline;
  margin-left: 3px;
}

footer .credit li {
  display: inline;
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */